/* This file is for your main application css. */
body {
    background: #19cce9;
    font-size: 20px;
    font-family: sans-serif;
}

.form-control {    
    border-color: #000000;
    border-width: 2px;
    background-color: #ecdcc9;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    color: #f0e080;
    text-decoration: underline;
}

.welcome {
    padding-bottom: 15px;
}

.btn-primary {
    border-color: #000000;
    border-width: 2px;
    background-color: #f0e080;
    color: #000000;
    font-size: 30px;
    display: block;
    margin: 0 auto;
}
